<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td>Please arrive early to check software installations</td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/00-intro/index.html" target="_blank">Workshop Welcoming!</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/01-r-plotting/index.html" target="_blank">R for Plotting</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/01-r-plotting/index.html" target="_blank">R for Plotting (Continued)</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/02-unix-shell/index.html" target="_blank">The Unix Shell</a></td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/03-intro-git-github/index.html" target="_blank">Intro to git & GitHub</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome back for day 2!</td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/04-r-data-analysis/index.html" target="_blank">R for Data Analysis</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/04-r-data-analysis/index.html" target="_blank">R for Data Analysis (Continued)</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/05-r-markdown/index.html" target="_blank">Writing Reports with R Markdown</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://umcarpentries.org/intro-curriculum-r/05-r-markdown/index.html" target="_blank">Writing Reports with R Markdown (Continued)</a></td> </tr>
      <tr> <td>15:30</td>  <td>Conclusions & Wrap-up</td> </tr>
      <tr> <td>16:15</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
